@import 'button';
$primary-color: #4f73e6;

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items:  $align
}

%primary-color {
    color: red;
    font-size: 24px;
    line-height: 30px;
}

@mixin primaryBtn() {
    color: red;
    font-size: 24px;
    line-height: 30px;
}

.some-btn {
   @extend %primary-color
}

.header {
    @include flex(center, center);

    padding: 20px;

    &__logo-box {
        width: 50px;
        height: 50px;
        background-color: aliceblue;
    }

    &__list {
        display: flex;
        gap: 20px;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: translateY(-4px);
        }
    }

    &:hover {
        background-color: red;
    }

    &__btn {
        background-color: aqua;

        @extend .some-btn;
    }
}



