.link {
    padding: 10px;
    background-color: aquamarine;
}
.span {
    padding: 3px;
    background-color: bisque;
}

.modal {
    display: flex;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.262);
}

.modal__content{
    background-color: white;
    padding: 20px;
}

.hide {
    display: none;
}
.blue {
    font-weight: bold;
    color: blue;
}

.box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;

    &:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
}